body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333333;
background-color: #fff;
}

* {
    box-sizing: border-box;
  }
  *:before,
  *:after {
    box-sizing: border-box;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

 @media (min-width: 768px) {
    .col-sm-6  {
      float: left;
    }
    .col-md-3, .col-md-6  {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }
  .col-sm-6 {
    width: 50%;
  }

  .col-md-3 {
    width: 25%;
  }

  .thumbnail .caption {
    padding: 9px;
    color: #333333;
  }
  .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 0.2s ease-in-out;
  }

  .thumbnail > img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
  }

  .caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777777;
    text-align: center;
  }


  .btn {
    display: inline-block;
    align-self:center;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    color: #fff;
    background-color: #53595f;
    border-color: #32383d;
  }
 
  div {
    display: block;
}

img{
    vertical-align: middle;
    border: 0;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.clearfix::before,
  .clearfix:after,
  .dl-horizontal dd:before,
  .dl-horizontal dd:after,
  .container::before,
  .container::after,
  .container-fluid:before,
  .container-fluid:after,
  .row::before,
  .row::after,
  .form-horizontal .form-group:before,
  .form-horizontal .form-group:after,
  .btn-toolbar:before,
  .btn-toolbar:after,
  .btn-group-vertical > .btn-group:before,
  .btn-group-vertical > .btn-group:after,
  .nav:before,
  .nav:after,
  .navbar:before,
  .navbar:after,
  .navbar-header:before,
  .navbar-header:after,
  .navbar-collapse:before,
  .navbar-collapse:after,
  .pager:before,
  .pager:after,
  .panel-body:before,
  .panel-body:after,
  .modal-header:before,
  .modal-header:after,
  .modal-footer:before,
  .modal-footer:after {
    content: " ";
    display: table;
  }
  .clearfix::after,
  .dl-horizontal dd:after,
  .container::after,
  .container-fluid:after,
  .row::after,
  .form-horizontal .form-group:after,
  .btn-toolbar:after,
  .btn-group-vertical > .btn-group:after,
  .nav:after,
  .navbar:after,
  .navbar-header:after,
  .navbar-collapse:after,
  .pager:after,
  .panel-body:after,
  .modal-header:after,
  .modal-footer:after {
    clear: both;
  }

a{
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: #333333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}





.topnav-right {
  float: right;
}

.table{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}



td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table tr:nth-child(even){background-color: rgb(197, 194, 194);}

.table tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#585656;
  color: #f2f2f2;
}

form { margin: 0 auto; }

.wrapper {
  padding-right: 155px;
  padding-left: 155px;
  padding-bottom: 150px;
  padding-top: 165px;
  background-color: white;
}

/* Full-width input fields */
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

